<div class="about-wrapper">


  <h1 class="title">Who is Mitchele?</h1>
  <div class="main-content">
    <div class="img-container">
      <div class="img-wrap">
        <img src="assets/images/my-image.jpg" alt="" />
      </div>
    </div>
    <div class="description-container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio natus
      expedita aut suscipit labore repellat? Soluta corporis enim amet, facere
      similique iusto ad eligendi velit doloribus non quae officia qui.
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
        necessitatibus illum ipsum ducimus illo et dolorum dolor perferendis
        consequatur sequi nostrum enim aliquid aperiam sed, odit dolorem
        pariatur temporibus repellendus quidem reprehenderit ipsam aspernatur
        aut.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
        explicabo, dignissimos nemo esse beatae minima, voluptatum ut delectus
        porro dolorum quaerat consequuntur aut nihil natus animi molestiae.
        Atque magnam minus nisi laboriosam dolorem est, adipisci eveniet
        nesciunt asperiores molestiae expedita, eius possimus facilis quibusdam
        nemo, dolore doloremque reprehenderit vero voluptate
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ut
        eum ipsam incidunt quaerat ab consequatur odit cumque soluta ea
        quibusdam amet accusamus officiis qui fugit, praesentium nesciunt quae
        debitis repudiandae in a suscipit. Qui laboriosam aspernatur alias
        explicabo, nemo eum possimus doloremque placeat aliquid sunt nam porro
        consectetur in odio? Hic, accusamus qui. Neque praesentium placeat
        doloremque numquam rem.
      </p>
    </div>
  </div>
</div>
