<div class="about-wrapper" style="padding-top: 7rem">
  <h2 class="about bio-title">BIODATA</h2>
  <div class="about grid pt-3">
    <div class="col-6">
      <h1 class="subtitle">Education</h1>
      <div class="pt-4">
        <ng-container *ngFor="let item of bioEduc">
          <p class="year">{{ item.year }}</p>
          <p class="info">{{ item.course }}</p>
          <p class="school">{{ item.school }}</p>
        </ng-container>
        <h1 class="subtitle pt-6">Skills</h1>

        <div class="grid pt-4">
          <div class="pt-4 skills"></div>
<div class="col-4">
  <p>
    HTML
    <img
      src="assets/images/svg/html.svg"
      alt="HTML logo"
      class="responsive-logo"
    />
  </p>
  <p>
    CSS
    <img
      src="assets/images/svg/css.svg"
      alt="CSS logo"
      class="responsive-logo"
    />
  </p>
  <p>
    SASS
    <img
      src="assets/images/svg/sass.svg"
      alt="SASS logo"
      class="responsive-logo"
    />
  </p>
  <p>
    PrimeFlex
    <img
      src="assets/images/svg/pf.png"
      alt="PrimeFlex logo"
      class="responsive-logo"
    />
  </p>
  <p>
    Tailwind CSS
    <img
      src="assets/images/svg/tlcss.png"
      alt="Tailwind CSS logo"
      class="responsive-logo-tlcss"
    />
  </p>
  <p>
    JavaScript
    <img
      src="assets/images/svg/javascript.svg"
      alt="JavaScript logo"
      class="responsive-logo-tlcss"
    />
  </p>
  <p>
    TypeScript
    <img
      src="assets/images/svg/ts.svg"
      alt="TypeScript logo"
      class="responsive-logo"
    />
  </p>
  <p>
    Angular
    <img
      src="assets/images/svg/angular-icon.svg"
      alt="Angular logo"
      class="responsive-logo"
    />
  </p>
  <p>Angular Material 
    <img
      src="assets/images/svg/material.svg"
      alt="Angular Material logo"
      class="responsive-logo"
    />
  </p>
  
  
</div>
<div class="col-4"> 
 
          <!-- <p>
            Oracle Database
            <img
              src="assets/images/svg/oracle.svg"
              alt="Oracle logo"
              class="responsive-logo-ora"
            />
          </p> -->
          <p>
    Ionic Angular
    <img
      src="assets/images/svg/ionic.png"
      alt="Ionic Angular logo"
      class="responsive-logo"
    />
  </p>
          <p>
            Android Studio
            <img
              src="assets/images/svg/as.png"
              alt="Android Studio logo"
              class="responsive-logo-as"
            />
          </p>
          <p>
            SQL & PL/SQL
            <img
              src="assets/images/svg/sql-db.svg"
              alt="SQL & PL/SQL logo"
              class="responsive-logo-sql"
            />
          </p>
          <p>
            Mongo DB
            <img
              src="assets/images/svg/mdb.png"
              alt="SQL logo"
              class="responsive-logo"
            />
          </p>
          <p>
            Git
            <img
              src="assets/images/svg/git.png"
              alt="Git logo"
              class="responsive-logo-git"
            />
          </p>
          <p>
            GitHub
            <img
              src="assets/images/svg/github.png"
              alt="GitHub logo"
              class="responsive-logo-github"
            />
          </p>
          <p>
            Adobe Photoshop
            <img
              src="assets/images/svg/adobe-photoshop.svg"
              alt="Photoshop logo"
              class="responsive-logo"
            />
          </p>
          <p>
            Adobe Lightroom
            <img
              src="assets/images/svg/adobe-lightroom.svg"
              alt="Lightroom logo"
              class="responsive-logo"
            />
          </p>
        </div>         
        
      </div>
      </div>
    </div>

    <div class="col-6">
      <h1 class="subtitle">Experience</h1>
      <ng-container *ngFor="let item of bioExp">
        <div class="pt-4">
          <p class="year">{{ item.year }}</p>
          <p class="info">{{ item.role }}</p>
          <p class="company">{{ item.company }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
