.home-container {
  position: absolute;
}

.welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

span {
  color: var(--link-color);
}

.intro {
  font-size: 22px;
  color: var(--primary-color);
  font-family: var(--text-font-family);
}

.top-space {
  padding-top: 5rem;
}

.name {
  font-size: 51.25px;
  color: var(--primary-color);
  margin: 0;
  padding-top: 1.5rem;
  font-family: var(--text-header-family);
}

.job {
  font-size: 51.25px;
  color: var(--secondary-color);
  margin: 0;
  padding-top: 4.5rem;
  font-family: var(--text-header-family);
}

.short-desc {
  color: var(--primary-color);
  font-family: var(--text-font-family);
  font-size: 22px;
}

.btn-size {
  margin-top: 2rem;
  padding: 16px 40px;
  font-size: 1.7rem;
}

.btn:hover {
  box-shadow: 0 0 9px var(--link-color);
}

button a {
  color: var(--background-color);
}

//* TABLET SCREENS
@media screen and (max-width: 768px) {
  .welcome-section {
    padding: 1rem;
  }

  .top-space {
    padding-top: 1rem;
  }
  .intro {
    font-size: 15px;
  }

  .name {
    font-size: 41px;
    padding-top: 0.5rem;
    color: var(--link-color) !important;
  }

  .job {
    font-size: 41px;
    padding-top: 2.5rem;
  }

  .short-desc {
    font-size: 10.5px;
    padding-top: 2.5rem;
  }

  .btn {
    padding: 13px 40px;
  }
}

//* MOBILE SCREENS
@media screen and (max-width: 480px) {
  .intro {
    font-size: 12px;
  }

  .name {
    font-size: 33px;
  }

  .job {
    font-size: 33px;
  }

  .short-desc {
    font-size: 8.5px;
  }

  .btn {
    padding: 10.5px 32px;
  }
}
