<div class="home-container">
  <section class="welcome-section">
    <p class="intro"><span>Hi, my name is</span></p>
    <br />
    <p class="name"><span>Mitchele Centeno</span></p>
    <p class="job">I'm a <span>Software Developer</span></p>
    <div class="short-desc">
      <p class="top-space">Based in Cainta Rizal, Philippines.</p>

      <p>
        I strive to stay at the forefront of technology, creating innovative and
      </p>
      <p>
        user-focused solutions with a passion for learning and a commitment to
        excellence.
      </p>
    </div>

    <section>
      <button class="custom-btn btn btn-size">
        <a
          href="https://drive.google.com/file/d/18T76B17Bt0QbawsH6xpN-BCPmoK18kR0/view?usp=share_link"
          target="_blank"
          >View CV</a
        >
      </button>
    </section>
  </section>
</div>
