mat-card {
  background-color: var(--proj-card-color);
}

mat-card-header {
  justify-content: space-between;
  align-items: baseline;
}

mat-card-title {
  font-family: var(--text-header-family);
  color: var(--secondary-color);
}

mat-card-subtitle {
  margin-top: 1rem;
  font-family: var(--text-font-family);
  color: var(--secondary-color);
  font-size: 15px;
}

p {
  color: var(--primary-color);
  font-family: var(--text-font-family);
  font-size: 18px;
}

@media screen and (max-width: 470px) {
  .port-container {
    /* margin-top: 0; */
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .port-container {
    padding-top: 0;
  }
}

.proj-animation {
  transition: 0.5s ease;
  /* border: solid 0.5px var(--link-color); */
}

.proj-animation:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1rem var(--link-color);
}

mat-card-title,
a {
  color: var(--link-color);
}
