<div style="padding-top: 17rem" class="project-wrapper" [@fadeInLeft]>
  <div class="flex flex-wrap align-content-center justify-content-center">
    <ng-container *ngFor="let item of projects">
      <div
        [ngClass]="{
          'col-5': !isExtraSmallScreen && !isSmallScreen
        }"
        class="p-col-12 p-md-6 p-lg-4 p-xl-3"
      >
        <div class="p-1">
          <mat-card class="proj-animation">
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <a href="https://example.com" target="_blank">
                <button mat-icon-button>
                  <mat-icon fontIcon="open_in_new"></mat-icon>
                </button>
              </a>
              <mat-card-subtitle>{{ item.shortDesc }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ng-container *ngFor="let desc of descriptions">
                <p>
                  {{ desc.desc_1 }}
                </p>
                <p>{{ desc.desc_2 }}</p>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
