.copyright {
  position: absolute;
  top: 274rem;
  left: 0;
  width: 100%;
  background-color: var(--background-color); /* Optional background color */
  color: #cccccc;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
