<div class="about-wrapper">
  <h2 class="about bio-title">BIODATA</h2>
  <!-- <ng-container *ngFor="let item of about"> -->
  <!-- <h2 class="intro">{{ item.intro }}</h2>
      <h1 class="title">{{ item.title }}</h1> -->
  <div class="about grid">
    <div class="col-6">
      <h1 class="subtitle">Education</h1>
      <div class="pt-4">
        <p class="year">2017 - 2020</p>
        <p class="info">Bachelors of Science in Information Technology</p>
        <p>Informatics International College</p>
      </div>
      <!-- <div class="img-wrap animated-box">
            <img src="assets/images/port.png" alt="" />
          </div> -->
    </div>
    <div class="col-6">
      <h1 class="subtitle">Experience</h1>
      <div class="pt-4">
        <p class="year">2020</p>
        <p class="info">Internship: Cyber Security Specialist</p>
        <p>Trend Micro Inc.</p>
      </div>
      <div class="pt-4">
        <p class="year">2020 - 2022</p>
        <p class="info">Freelance Web Developer & Graphic Designer</p>
        <p>Minimalist Designs</p>
      </div>
      <div class="pt-4">
        <p class="year">2022 - 2023</p>
        <p class="info">Associate Software Engineer</p>
        <p>Accenture</p>
      </div>
      <div class="pt-4">
        <p class="year">2020</p>
        <p class="info">Software Developer</p>
        <p>LGU Suite</p>
      </div>

      <!-- <ng-container *ngFor="let item of descriptions"> -->
      <!-- <p>
              <i class="fa fa-caret-right icon-color p-4"></i>
              <i
                >"I'm Mitchele, a Software Developer with a passion for technology
                <br />
                and a hunger for learning"</i
              >
            </p> -->

      <!-- </ng-container> -->
    </div>
  </div>
  <!-- </ng-container> -->
</div>
