<div style="padding-top: 17rem">
  <div class="flex flex-wrap align-content-center justify-content-center">
    <ng-container *ngFor="let item of projects">
      <div class="col-4">
        <div class="p-1">
          <mat-card class="proj-animation">
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <a href="https://example.com" target="_blank">
                <button mat-icon-button>
                  <mat-icon fontIcon="open_in_new"></mat-icon>
                </button>
              </a>
              <mat-card-subtitle>{{ item.shortDesc }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ item.about_1 }}
              </p>
              <p>
                {{ item.about_2 }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
