<!-- Navigation Bar -->
<!-- <header>
  <div class="header">
    <!-- <a href="#" class="logo">
      <img src="assets\images\logo-suit.png" alt="Logo" class="logo" />
    </a> -->
    <span
      id="menu-icon"
      class="material-symbols-outlined menu"
      style="color: aquamarine"
    >
      menu
    </span>

    <div class="flex"></div>
  </div>
</header> -->

<!-- #2 -->
<
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <div>
      <button class="logo" (click)="toggleCollapse()">
        MC
        <span>
          <!-- <i class="fa fa-caret-right pt-3 logo"></i> -->
        </span>
      </button>
    </div>
    <!-- <i class="fa fa-arrow-right logo" style="padding-left: 2rem"></i> -->

    <div class="logo-text" *ngIf="collapsed"></div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <!-- <i class="sidenav-link-icon" [class]="data.icon"></i> -->

        <span>{{ data.number }}</span>
        <span class="sidenav-link-text" *ngIf="collapsed">
          {{ data.label }}</span
        >
      </a>
    </li>
  </ul>
</div>
