<!-- Navigation Bar -->
<header>
  <div class="header">
    <a href="#" class="logo">
      <img src="assets\images\logo-suit.png" alt="Logo" class="logo" />
    </a>
    <span id="menu-icon" class="material-symbols-outlined menu"> menu </span>

    <div class="flex">
      <ng-container *ngFor="let item of userNav">
        <nav class="navbar">
          <ul class="primary-navigation">
            <li style="margin: 0">
              <a href="{{ item.route }}" class="active">{{ item.label }}</a>
            </li>
          </ul>
        </nav>
      </ng-container>
    </div>
  </div>
</header>

<!-- ! -->

<!-- Navigation Bar -->
<!-- <header>
  <nav class="nav collapsible">
    <a class="nav-brand" href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon-white nav-toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav-list collapsible-content">
      <li class="nav-item"><a href="#">Hosting</a></li>
      <li class="nav-item"><a href="#">VPS</a></li>
      <li class="nav-item"><a href="#">Domain</a></li>
      <li class="nav-item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
</header> -->
