.bar {
  // background-color: var(--background-color);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 70px;
}

.header {
  position: absolute;
  bottom: 4px;
  // left: 412px;
  // width: auto;
  // padding: 1rem;
  // background-color: var(--background-color);
  // align-items: center;
  z-index: 999;
  // display: flex;

  // justify-content: space-between;
  // align-self: end;
  // padding-right: 8rem;
}

.name {
  font-size: 30px;
  color: var(--link-color);
  margin: 0;
  padding-top: 3rem;
  font-family: var(--text-header-family);
  animation: text-flicker-in-glow 4s linear both;

  position: absolute;
  left: 45px;
  // top: 5px;
}

// .name:hover {
//   animation: text-flicker-in-glow 4s linear both;
// }

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    // text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    //   0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    //   0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.nav-link {
  font-weight: 900;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--link-color);
  // margin-left: 4rem;
  transition: 0.5s ease;

  // background-color: gray;
  display: block;
  // padding: 14px 16px;
  text-decoration: none;
  padding-top: 6rem;
  left: 200px;
}

.navbar {
  padding-top: 1.2rem;
  // background-color: gray;
  // border: none;
  font-weight: 900;
}

.navbar a:hover {
  font-size: 1.7rem;
  color: #fff;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  cursor: default;
  font-family: "Poppins", sans-serif;
  color: var(--link-color);
  transition: 0.5s ease;
  position: absolute;
  right: 120px;
  top: 10px;
}

.logo:hover {
  color: #fff;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--link-color);
  display: block;
}

/* KP */
.flex {
  display: flex;
  gap: 1rem;
}

.flex a {
  color: var(--link-color);
}

.primary-navigation {
  padding: 0;
  margin: 0;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

//*
@media screen and (min-width: 768px) {
  .logo {
    font-size: 32px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  nav {
    all: unset;

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

#menu-icon {
  display: none;
}

//* TABLET SCREEN
@media screen and (max-width: 768px) {
  .bar {
    // background-color: var(--background-color);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 56px;
  }

  .name {
    padding-top: 1.5rem;
    font-size: 24px;
    left: 36px;
  }

  .logo {
    font-size: 25.5px;
  }

  #menu-icon {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .flex {
    position: absolute;
  }
  .logo {
    grid-column: 2 / 3;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

//* MOBILE SCREEN
@media screen and (max-width: 480px) {
  .bar {
    // background-color: var(--background-color);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 45px;
  }

  .name {
    padding-top: 1rem;
    font-size: 19px;
    left: 29px;
  }

  .logo {
    font-size: 25.5px;
    color: var(--link-color);
  }

  #menu-icon {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .flex {
    display: flex;
  }
  .logo {
    grid-column: 2 / 3;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

#menu-icon {
  display: none;
}

.sidenav {
  display: none;
}

//!
@media screen and (max-width: 480px), (max-width: 768px) {
  #menu-icon {
    display: none;
  }

  .sidenav {
    // display: none;
    background: var(--mat-custom-color);
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 7rem;
    height: 100vh;
    // box-shadow: 0.062rem 0 1.25rem 0 var(--background-color);

    .logo-container {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      width: 100%;

      .logo {
        background: none;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
        color: var(--background-color);
      }

      .logo-text {
        margin-left: 1.5rem;
        font-size: 24px;
        font-weight: 700;
        color: var(--link-color);
      }

      .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        .fa-times {
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }

  .sidenav-collapsed {
    width: 26.5625rem;
    height: 100vh;
  }

  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    // height: 100vh;
    cursor: pointer;

    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;
      padding-left: 2rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: var(--link-color);
        text-decoration: none;
        border-radius: 0.625rem;
        transition: all 0.3s ease;

        .sidenav-link-icon {
          font-size: 22px;
          width: 2rem;
          min-width: 2rem;
          margin: 0 0 0.5rem;
          text-align: center;
        }

        .sidenav-link-text {
          margin-left: 1.5rem;
        }
      }
    }

    .sidenav-nav-item:hover {
      .sidenav-nav-link {
        // background-color: #fff;
        // border-radius: 0.625rem;
        color: #fff;
        // padding: 1rem;
      }
    }
  }
}
