<div class="flex flex-row">
    
    <a
      class="btn btn-primary btn-lg btn-floating"
      style="background-color: #ac2bac;"
      href="#!"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="btn btn-primary btn-lg btn-floating"
      style="background-color: #ac2bac;"
      href="#!"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="btn btn-primary btn-lg btn-floating"
      style="background-color: #ac2bac;"
      href="#!"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>

</div>






