<div class="parent-container">
  <!-- NAV -->
  <header class="header">
    <a href="#" class="logo">
      <img src="assets\images\logo black.png" alt="Logo" class="logo" />
    </a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav class="navbar">
      <ul class="primary-navigation">
        <li>
          <a href="#home-page-section" class="active">Home</a>
        </li>
        <li>
          <a href="#about-page-section">About</a>
        </li>
        <li>
          <a href="#portfolio-page-section">Projects</a>
        </li>
        <li>
          <a href="#contact-page-section">Contact</a>
        </li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <!-- Section -->
  <section>
    <div id="home-page-section">
      <app-home-page></app-home-page>
    </div>
  </section>
  <section class="about-page">
    <div id="about-page-section">
      <app-about-page></app-about-page>
    </div>
  </section>
  <section>
    <div style="margin-bottom: 10rem" id="portfolio-page-section">
      <app-portfolio-page></app-portfolio-page>
    </div>
  </section>
  <section>
    <div id="contact-page-section">
      <app-contact-page></app-contact-page>
    </div>
  </section>
</div>
