<!-- Navigation Bar -->
<header>
  <div class="header">
    <a href="#" class="logo">
      <img src="assets\images\logo black.png" alt="Logo" class="logo" />
    </a>
    <div class="flex">
      <ng-container *ngFor="let item of userNav">
        <nav class="navbar">
          <ul class="primary-navigation">
            <li style="margin: 0">
              <a href="{{ item.route }}" class="active">{{ item.label }}</a>
            </li>
          </ul>
        </nav>
      </ng-container>
    </div>
  </div>
</header>
