<ng-container *ngFor="let item of about">
  <div class="flex">
    <!-- Image -->
    <div
      class="flex-1 md:flex-none flex align-items-center justify-content-center"
    >
      <div class="img-wrap">
        <img src="assets/images/my-image2.jpg" alt="" />
      </div>
    </div>
    <!-- About Content -->
    <div
      class="flex-1 md:flex-none flex align-items-center justify-content-center"
      style="color: white"
    >
      <h2>{{ item.intro }}</h2>
      <h1>{{ item.title }}</h1>
      <p>
        {{ item.description }}
      </p>
      <br />
      <p>
        Name:
        {{ item.name }}
      </p>
      <p>
        Date of birth:
        {{ item.birthday }}
      </p>
      <p>
        Address:
        {{ item.address }}
      </p>
      <p>
        Zipcode:
        {{ item.zipcode }}
      </p>
      <p>
        Email:
        {{ item.email }}
      </p>
      <p>
        Phone:
        {{ item.phone }}
      </p>
    </div>
  </div>
</ng-container>
