<div class="about-wrapper">
  <br />
  <br />

  <ng-container *ngFor="let item of about">
    <h2 class="intro">{{ item.intro }}</h2>
    <h1 class="title">{{ item.title }}</h1>
    <div class="main-content">
      <div class="img-container">
        <div class="img-wrap">
          <img src="assets/images/my-image2.jpg" alt="" />
        </div>
      </div>
      <div class="description-container">
        <p>
          <i class="fas fa-angle-right icon-color"></i>
          {{ item.description_1 }}
        </p>
        <p>
          <i class="fas fa-angle-right icon-color"></i>
          {{ item.description_2 }}
        </p>
        <p>
          <i class="fas fa-angle-right icon-color"></i>
          {{ item.description_3 }}
        </p>
        <p>
          <i class="fas fa-angle-right icon-color"></i>
          {{ item.description_4 }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
