::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--secondary-color);
  opacity: 97.5%;
  padding-top: 5rem;
}

mat-form-field {
  width: 90% !important;
}

mat-dialog-actions {
  padding: 2rem;
}

.mat-title {
  /* font-family: var(--text-font-family); */
  font-size: 22px;
}

.my-label {
  height: 80px;
}

.form-section {
  padding-top: 2rem;
}

/* Define the styles for the input */
.mat-form-field {
  font-size: 12px;
  color: #333;
  width: 100%;
}

.mat-form-field-label {
  font-weight: bold;
  color: #555;
}

.mat-form-field-underline {
  background-color: #ccc;
}

.mat-form-field-ripple {
  background-color: #999;
}

.font-title {
  font-size: 16px;
  color: #333;
}

.font-sub-title {
  font-family: var(--text-font-family);
  font-size: 20px;
  color: #333;
}
