/* You can add global styles to this file, and also import other style files */

/* Material Angular */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Grenze&display=swap");

/*  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #fff;
  transition: 0.5s ease;
}

:root {
  --background-color: #1e2a3a;
  --link-color: #00ffb3;
  --primary-color: #d4f1f4;
  --secondary-color: #cccccc;
  --text-header-family: "Calistoga", cursive;
  --text-font-family: "Grenze", serif;
  --text-about-page: "Roboto", sans-serif;
  --proj-card-color: #142030;
}

/* html {
  scroll-behavior: smooth;
  transition-duration: 1s;
} */

html,
body {
  /* font-size: 67.5%; */
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  transition-duration: 1s;
  background-color: var(--background-color);
}

button.custom-button a {
  text-decoration: none;
}

/*  Scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--link-color);
  border-radius: 5px;
}
c

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}
