.about-wrapper {
  // width: 100%;
  // margin: auto;
  padding: 13rem 0rem;
  padding-bottom: 10rem;
  margin-bottom: 10rem;
}

.intro {
  color: var(--link-color);
  font-family: "Calligraffitti", cursive;
}
.title {
  margin: 20px 0 30px 20px;
  color: var(--secondary-color);
  font-family: var(--text-header-family);
  font-size: 32px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

//* Animations
@keyframes boxShadowAnimation {
  0% {
    box-shadow: 1rem 1rem 1rem var(--link-color);
  }
  50% {
    box-shadow: 1.2rem 1.2rem 1.2rem var(--link-color);
  }
  100% {
    box-shadow: 1rem 1rem 1rem var(--link-color);
  }
}

.image {
  box-shadow: 1rem 1rem 1rem var(--link-color);
  border-radius: 20px;
  // animation: boxShadowAnimation 3.5s infinite;
}

.image:hover {
  animation: boxShadowAnimation 1s 1;
}

// img {
//   // border: 2px solid rgba(0, 255, 179, 0.7);
//   box-shadow: 1rem 1rem 1rem var(--link-color);
//   // animation: boxShadowAnimation 2s infinite;
// }

// @keyframes boxShadowAnimation {
//   0% {
//     box-shadow: 0 0 10px var(--link-color);
//   }
//   50% {
//     box-shadow: 0 0 20px var(--link-color);
//   }
//   100% {
//     box-shadow: 0 0 10px var(--link-color);
//   }
// }

// .img-wrap {
//   height: 34rem;
//   width: 33rem;
//   display: flex;
//   align-items: center;
//   flex-direction: center;
//   justify-content: center;
// }

.box-img {
  height: 32rem;
  width: auto;
  border: #fff 1px solid;
  border-radius: 5px;
  top: 14px;
}

.img-wrap {
  height: 34rem;
  width: 33rem;
  max-width: 100%;
  display: block;
  position: static;
}

// .box-img {
//   height: 32rem;
//   width: auto;
//   border: #fff 1px solid;
//   border-radius: 5px;
//   top: 14px;
// }

img {
  max-height: 100%;
  max-width: 100%;
}

.description-container {
  width: 70%;
  // padding-left: 5rem;
  color: var(--primary-color);
  text-align: center;
  // font-family: 'Cedarville Cursive', cursive;
}
.description {
  // font-family: var(--text-about-page);
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1109px) {
  .img-container {
    width: 100%;
    margin: auto;
  }
  .img-wrap {
    margin: auto;
    padding-bottom: 3rem;
  }

  .description-container {
    width: 90%;
    color: #fff;
    padding-left: 0rem;
    margin: auto;
  }
}

.icon-color {
  color: var(--link-color);
}

//* TABLET SCREEN
@media screen and (max-width: 768px) {
  .about-wrapper {
    padding: 0;
  }

  .title {
    font-size: 25.5;
  }

  .description-container {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 480px) {
  .about-wrapper {
    padding: 0;
  }

  .title {
    font-size: 25;
  }

  .description-container {
    font-size: 12.5px;
  }
}
